
body{
    text-align: center;
}
li button{
    background-color:red;
    color:white;
    text-decoration: none;
    border: 0;
    padding: 10px;
    cursor: pointer;
}
#btnAdd{
    background-color: blue;
    color: white;
}
